@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 255, 0, 0;
  --ui-notch-amount: 1.5rem;
  --ui-notch-hypotenuse: 2.25rem;
  --ui-notch-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - var(--ui-notch-amount) + 2px),
    calc(100% - var(--ui-notch-amount) + 2px) 100%,
    0 100%
  );
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
  background-color: theme("colors.background");
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  color: theme("colors.text.primary");
  accent-color: theme("colors.brand.accent");
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
  height: 100%;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 15.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

/* Resets */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  background-color: black !important;
  color: white !important;
  -webkit-text-fill-color: white !important;
  transition: background-color 5000s ease-in-out 0s;
}

.dm-sans {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.worm {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.2);
  width: 200px;
  margin-left: -50px;

  path {
    stroke-dasharray: 203px, 345px;
    stroke-dashoffset: 0;
    fill: none;
    stroke: #d35933;
    stroke-width: 13;
    stroke-linecap: round;
    stroke-miterlimit: 10;
    animation: worm 1s linear infinite;
  }
}

.hero {
  background-image: url("/img/hero.png");
  background-position-y: 17rem;
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-line {
  border-color: hsla(0, 100%, 100%, 0.14);
}

.hero-btn-inner {
  position: relative;
  z-index: 1;
}

.hero-btn-inner::before,
.hero-btn-inner::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: -6rem;
  border-left: 2px dashed hsla(0, 100%, 100%, 0.14);
}

.hero-btn-inner::before {
  left: 0;
}

.hero-btn-inner::after {
  right: 0;
}

.hero-title::before,
.hero-title::after,
.hero-desc::before,
.hero-btn::before {
  content: "";
  position: absolute;
  left: -1rem;
  right: -1rem;
  border-top: 2px dashed hsla(0, 100%, 100%, 0.14);
}

.hero-desc::before,
.hero-btn::before {
  bottom: 0rem;
}

.hero-title::before {
  top: -1rem;
}
.hero-title::after {
  bottom: 0rem;
}

.line-bg {
  position: relative;
  background-color: black;
}

.grid-overlay {
  position: absolute;
  inset: 0;
  background-image:
    linear-gradient(rgba(255, 255, 255, 0.1) 1.5px, transparent 1.5px),
    linear-gradient(90deg, rgba(255, 255, 255, 0.1) 1.5px, transparent 1.5px);
  background-size: 100px 100px;
  z-index: 0;
  filter: blur(0.7px);
}

.grid-overlay::after {
  content: "";
  position: absolute;
  inset: 0;
  background: radial-gradient(circle, rgba(0, 0, 0, 0) 30%, black 90%);
  pointer-events: none;
}

.text-effect {
  color: transparent;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.15);
  text-wrap: nowrap;
}

.text-effect2 {
  background: linear-gradient(#ff7f4f, #b54324);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.bg-gradient-custom {
  background: linear-gradient(180deg, #242424, #12121290 65.62%);
}

.content {
  position: relative;
  z-index: 2;
  color: white;
}

/*  */
.pad {
  clip-path: var(--ui-notch-path);
}

.pad__body {
  padding: 0.75rem;
  padding-bottom: var(--ui-notch-amount);
}

.pad::before {
  bottom: 5px;
  content: "";
  display: block;
  height: 4px; /* bigger to compensate transform */
  position: absolute;
  right: -6px;
  top: auto;
  transform: rotate(-45deg);
  width: var(--ui-notch-hypotenuse);
  z-index: 100;
  background-color: theme("colors.borderLight");
}

@keyframes worm {
  0% {
    stroke-dashoffset: 0px;
    transform: translateX(119px);
  }
  100% {
    stroke-dashoffset: -136px;
    transform: translateX(0);
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/*  */
.content-container {
  display: flex;
}
.content-container > * {
  width: 50%;
}

.right-content {
  padding-right: 15px;
}

.left-content {
  height: 80vh;
  position: relative;
}

/* .left-content > * {
  position: absolute;
  left: 50%;
  top: 50%;
  opacity: 0;
  visibility: hidden;
} */

@media screen and (max-width: 800px) {
  .left-content {
    display: none;
  }
  .right-content {
    padding-left: 15px;
  }
}

.header-section {
  text-align: center;
  padding: 1rem 6rem;
}
