@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeue-HeavyCond.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeue-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

.helvetica-neue {
  font-family: "Helvetica Neue", sans-serif;
}

:root {
  --primary: "#ea580b";
  --background: 255, 0, 0;
  --ui-notch-amount: 1.5rem;
  --ui-notch-hypotenuse: 2.25rem;
  --ui-notch-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - var(--ui-notch-amount) + 2px),
    calc(100% - var(--ui-notch-amount) + 2px) 100%,
    0 100%
  );
  --ui-notch-path-bl: polygon(
    0 0,
    100% 0,
    100% 100%,
    var(--ui-notch-amount) 100%,
    0 calc(100% - var(--ui-notch-amount))
  );
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
  background-color: theme("colors.background");
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  /*   color: theme("colors.text.primary");
 */
  accent-color: theme("colors.brand.accent");
}

h1 {
  font-family: "Helvetica Neue";
}

/* scrollbar */
::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.4);
}

.scroll-container {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.2) transparent;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
  height: 100%;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 15.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

/* Resets */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  background-color: black !important;
  color: white !important;
  -webkit-text-fill-color: white !important;
  transition: background-color 5000s ease-in-out 0s;
}

.dm-sans {
  font-family: "DM Sans", monospace, sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.worm {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.2);
  width: 200px;
  margin-left: -50px;

  path {
    stroke-dasharray: 203px, 345px;
    stroke-dashoffset: 0;
    fill: none;
    stroke: #ea580b;
    stroke-width: 13;
    stroke-linecap: round;
    stroke-miterlimit: 10;
    animation: worm 1s linear infinite;
  }
}

label {
  font-family: inherit;
}
@media (max-width: 672px) {
  .worm {
    width: 100px;
  }
}

.hero {
  background-image: url("/img/hero.png");
  background-position-y: 17rem;
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-line {
  border-color: hsla(0, 100%, 100%, 0.25);
  border-width: 1px;
  border-style: dashed;
  border-right-width: 0px;
  border-left-width: 1px;
  animation: fadeScaleTopToBottom 0.6s ease-in-out forwards;
}

.hero-btn-inner {
  position: relative;
  z-index: 1;
}

.hero-btn-inner::before,
.hero-btn-inner::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: -6rem;
  animation: fadeScaleTopToBottom 0.6s ease-in-out forwards;
  border-left: 1px dashed hsla(0, 100%, 100%, 0.25);
  opacity: 0.1;
}

.hero-btn-inner::before {
  left: 0;
}

.hero-btn-inner::after {
  right: 0;
}

.hero-title::before,
.hero-title::after,
.hero-desc::before,
.hero-btn::before {
  content: "";
  position: absolute;
  left: -1rem;
  right: -1rem;
  border-top: 1px dashed hsla(0, 100%, 100%, 0.25);
  animation: fadeScaleLeftToRight 0.6s ease-in-out forwards;
}

.hero-desc::before,
.hero-btn::before {
  bottom: 0rem;
}

.hero-title::before {
  top: -1rem;
}
.hero-title::after {
  bottom: 0rem;
}

.line-bg {
  position: relative;
}

.grid-overlay {
  position: absolute;
  inset: 0;
  /*   background-image:
    linear-gradient(rgba(255, 255, 255, 0.1) 1.5px, transparent 1.5px),
    linear-gradient(90deg, rgba(255, 255, 255, 0.1) 1.5px, transparent 1.5px); */
  background-size: 100px 100px;
  z-index: 0;
  filter: blur(0.7px);
}

.grid-overlay::after {
  content: "";
  position: absolute;
  inset: 0;
  /*   background: radial-gradient(circle, rgba(0, 0, 0, 0) 30%, black 90%); */
  pointer-events: none;
}

.text-effect {
  color: transparent;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.15);
  text-wrap: nowrap;
}

.text-effect2 {
  background: linear-gradient(#ff7f4f, #b54324);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.bg-gradient-custom {
  background: linear-gradient(180deg, #242424, #12121290 65.62%);
}

.content {
  position: relative;
  z-index: 2;
  color: white;
}

/*  */
.pad {
  clip-path: var(--ui-notch-path);
}

.pad.left {
  clip-path: var(--ui-notch-path-bl);
}

.pad__body {
  padding: 0.75rem;
  padding-bottom: var(--ui-notch-amount);
}

.pad::before {
  bottom: 5px;
  content: "";
  display: block;
  height: 4px;
  position: absolute;
  right: -6px;
  top: auto;
  transform: rotate(-45deg);
  width: var(--ui-notch-hypotenuse);
  z-index: 100;
  background-color: theme("colors.borderLight");
}

/* @HACK Temporarily overriding Monaco's .mtk26 red to match string color */
.vs-dark .mtk26 {
  color: #919e6b !important;
}

@keyframes worm {
  0% {
    stroke-dashoffset: 0px;
    transform: translateX(119px);
  }
  100% {
    stroke-dashoffset: -136px;
    transform: translateX(0);
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/*  */
.content-container {
  display: flex;
}
@media (min-width: 900px) {
  .content-container > * {
    width: 50%;
  }
}

.right-content {
  padding-right: 15px;
}

.left-content {
  height: 80vh;
  position: relative;
}

/* @component circlegeometry */
.intro_gridCircle {
  filter: invert(1);
  color: #b54324;
  background: red;
}

.intro_gridCircle[data-side="top-left"] {
  top: calc(24px / 2 * -1);
  left: calc(24px / 2 * -1 + 32px);
}

.intro_gridCircle {
  opacity: 0.4;
  animation-name: intro_opacity__ObTR3;
  animation-duration: var(--a-duration-half);
  animation-timing-function: var(--a-easing);
  animation-fill-mode: forwards;
  animation-delay: calc(var(--a-delay) + 0.4s);
}
@media (max-width: 420px) {
  .intro_gridCircle__Hyh0y {
    --offset: 32px;
  }
}
@media (max-width: 890px) {
  .intro_gridCircle__Hyh0y {
    --size: 24px;
  }
}
.intro_gridCircle {
  --size: 73px;
  --offset: 0px;
  width: 24px;
  height: 24px !important;
  position: absolute;
  z-index: 2;
}
svg {
  shape-rendering: crispEdges;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 15s linear infinite;
}

@keyframes fadeScaleLeftToRight {
  0% {
    opacity: 1;
    transform: scaleX(0);
    transform-origin: left;
  }
  100% {
    opacity: 0.5;
    transform: scaleX(1);
    transform-origin: left;
  }
}

@keyframes fadeScaleTopToBottom {
  0% {
    opacity: 1;
    transform: scaleY(0);
    transform-origin: top;
  }
  100% {
    opacity: 0.5;
    transform: scaleY(1);
    transform-origin: top;
  }
}

.top-to-bottom {
  animation: fadeScaleTopToBottom 1s ease-in-out forwards;
}

.line-left-to-right {
  animation: fadeScaleLeftToRight 1s ease-in-out forwards;
}

@media screen and (max-width: 800px) {
  .left-content {
    display: none;
  }
  .right-content {
    padding-left: 15px;
  }
}

.header-section {
  text-align: center;
  padding: 1rem 6rem;
}
