@use "@/styles/base" as *;

.blob {
  display: block;
  @include position($l: 50%, $t: 50%, $isFixed: true);

  width: 0;
  height: 0;
  z-index: -9;
  will-change: transform;
  z-index: 9;

  &::before {
    content: "";
    display: block;
    pointer-events: none;
    height: 25vmax;
    aspect-ratio: 1;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background: linear-gradient(99deg, #094b72 0.62%, #560036 91.19%);
  }
}

.noise {
  @include position($inset: 0, $isFixed: true);

  backdrop-filter: blur(10vmax);
  z-index: 9;

  &::before {
    content: "";
    @include position($inset: 0);

    background-image: url("/img/noise.webp");
  }
}
